/*
  __  __  ____  _____          _       _____ 
 |  \/  |/ __ \|  __ \   /\   | |     / ____|
 | \  / | |  | | |  | | /  \  | |    | (___  
 | |\/| | |  | | |  | |/ /\ \ | |     \___ \ 
 | |  | | |__| | |__| / ____ \| |____ ____) |
 |_|  |_|\____/|_____/_/    \_\______|_____/ 
*/ 


#modal_Welcome {
  display:block
}

/* INPUT Options for updateuserinfo, changepass, downloadgss */
.acc_inputs input{
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.acc_inputs input[type=submit]:hover {
  background-color: #45a049;
}

.acc_inputs {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.logoutButton {
  display: inline-block;
  /* position: relative; */
  margin-right: 0px;
  margin-left: 75%;
}

label{
  font-size: var(--font-size-medium);
}

.settingsDetails{
  display: inline-block;
  textAlign: left;
  width: 100%;
  padding: 5px;
  border: 1px solid black;
}

.settingsTextBoxWrapper {
  display: inline-block;
  font-size:  var(--font-size-medium);
  textAlign: left;
  width: 31%;
  padding: 5px;
  /* border: 1px solid black; */
}

/* Big Screens */ @media all and (min-width: 801px) { }
/* Small Screens */@media all and (max-width: 801px) {
  .settingsTextBoxWrapper { width: 100%; }
}


/*

*/

.choices{position:relative;}
.choices[data-type*=select-multiple] .choices__button,.choices[data-type*=text] .choices__button{
  display:inline-block;
  padding-left: var(--font-size-medium);
  background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==); 
}

.choices__list--multiple{display:inline}
.choices__button{
  text-indent:-9999px;
  background-repeat:no-repeat;
  background-position:center !important;
  cursor:pointer
}

.choices__list--multiple .choices__item{
  display:inline-block;
  border-radius:20px;
  padding:4px 10px;
  font-size: var(--font-size-medium);
  margin-right:3px;
  background-color:var(--modal_h3_background);
  word-break:break-all
}
.choices__list--dropdown{
  display:none;  /* starts hidden dropdown prompt */
  z-index:1;
  position:absolute;
  background-color:#fff; 
  width:100%;
  top:100%;
  margin-top:-1px;
  overflow:hidden;
  word-break:break-all
}
.choices__list--dropdown.is-active{display:block} /* Opens the dropdown*/

.choices__inner{
  width:100%;
  background-color:#f9f9f9; 
  /* border:1px solid #ddd; */
  overflow:hidden
}
.choices__input{ /* The actual input tag. whats tricky about this setup is that the input is extended using javascript to a box that contains all the other values */
  font-size: var(--font-size-medium);
  border:0;
  width:100%;
  background-color:#f9f9f9;
}
  .choices__input:focus{outline:0}[dir=rtl] 
.choices__input{padding-right:2px;padding-left:0}
.choices__placeholder{opacity:.5}.choices[data-type*=select-multiple] .choices__input.is-hidden,.choices[data-type*=select-one] .choices__input.is-hidden,.choices__input.is-hidden{display:none} 

/*
.choices:focus{outline:none}
.choices.is-disabled .choices__inner, .choices.is-disabled .choices__input{background-color:#eaeaea;cursor:not-allowed; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.choices.is-disabled .choices__item{cursor:not-allowed}
.choices[data-type*=select-one]{cursor:pointer}
.choices[data-type*=select-one] .choices__inner{padding-bottom:7.5px}
.choices[data-type*=select-one] .choices__input{display:block;width:100%;padding:10px;border-bottom:1px solid #ddd;background-color:#fff;margin:0}
.choices[data-type*=select-one] .choices__button{padding:0;background-size:8px;position:absolute;top:50%;right:0;margin-top:-10px;margin-right:25px;height:20px;width:20px;border-radius:10em;opacity:.5; background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);}
.choices[data-type*=select-one] .choices__button:focus, .choices[data-type*=select-one] .choices__button:hover{opacity:1}
.choices[data-type*=select-one] .choices__button:focus{box-shadow:0 0 0 2px #00bcd4}
.choices[data-type*=select-one]:after{content:"";height:0;width:0;border-style:solid;border-color:#333 transparent transparent transparent;border-width:5px;position:absolute;right:11.5px;top:50%;margin-top:-2.5px;pointer-events:none}
.choices[data-type*=select-one].is-open:after{border-color:transparent transparent #333 transparent;margin-top:-7.5px}
.choices[data-type*=select-one][dir=rtl]:after{left:11.5px;right:auto}
.choices[data-type*=select-one][dir=rtl] .choices__button{right:auto;left:0;margin-left:25px;margin-right:0}
.choices[data-type*=select-multiple] .choices__inner, .choices[data-type*=text] .choices__inner{cursor:text}
.choices[data-type*=select-multiple] .choices__button:focus,.choices[data-type*=select-multiple] .choices__button:hover,.choices[data-type*=text] .choices__button:focus,.choices[data-type*=text] .choices__button:hover{opacity:1}

.is-open .choices__inner{border-radius:2.5px 2.5px 0 0}
.is-flipped .is-open .choices__inner{border-radius:0 0 2.5px 2.5px}
.choices__list{margin:0;padding-left:0;list-style:none}
.choices__list--single{display:inline-block;padding:4px 16px 4px 4px;width:100%}[dir=rtl] 
.choices__list--single{padding-right:4px;padding-left:16px}
.choices__list--single .choices__item{width:100%}

@media (min-width:640px){
  .choices__list--dropdown 
  .choices__item--selectable{padding-right:100px}
  .choices__list--dropdown .choices__item--selectable:after{content:attr(data-select-text);font-size:12px;opacity:0;position:absolute;right:10px;top:50%;transform:translateY(-50%)}[dir=rtl] 
  .choices__list--dropdown .choices__item--selectable{text-align:right;padding-left:100px;padding-right:10px}[dir=rtl] 
  .choices__list--dropdown .choices__item--selectable:after{right:auto;left:10px}
}
.choices__list--multiple .choices__item[data-deletable]{padding-right:5px}[dir=rtl] 
.choices__list--multiple .choices__item{margin-right:0;margin-left:3.75px}
.choices__list--multiple .choices__item.is-highlighted{background-color:#00a5bb;border:1px solid #008fa1}
.is-disabled .choices__list--multiple .choices__item{background-color:#aaa;border:1px solid #919191}
.choices__list--dropdown{display:none;z-index:1;position:absolute;width:100%;background-color:#fff;border:1px solid #ddd;top:100%;margin-top:-1px;border-bottom-left-radius:2.5px;border-bottom-right-radius:2.5px;overflow:hidden;word-break:break-all}
.choices__list--dropdown.is-active{display:block}.is-open .choices__list--dropdown{border-color:#b7b7b7}.is-flipped .choices__list--dropdown{top:auto;bottom:100%;margin-top:0;margin-bottom:-1px;border-radius:.25rem .25rem 0 0}.choices__list--dropdown .choices__list{position:relative;max-height:300px;overflow:auto;-webkit-overflow-scrolling:touch;will-change:scroll-position}
.choices__list--dropdown .choices__item{position:relative;padding:10px;font-size:14px}[dir=rtl] 
.choices__list--dropdown .choices__item{text-align:right}
*/
/*
.choices__list--dropdown .choices__item--selectable.is-highlighted{background-color:#f2f2f2}
.choices__list--dropdown .choices__item--selectable.is-highlighted:after{opacity:.5}
.choices__item{cursor:default}
.choices__item--selectable{cursor:pointer}
.choices__item--disabled{cursor:not-allowed;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;opacity:.5}
.choices__heading{font-weight:600;font-size:12px;padding:10px;border-bottom:1px solid #f7f7f7;color:gray}
*/






.modal_wrapper {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba(3 , 3 , 3 ,0.6);
}
.modal_content p{
  text-indent: 2em;
  padding: 10px;
  width:90%;
  max-width: 600px;
  margin: auto;
  text-align: left;
}
.modal_content h2{ 
  background : var(--modal_h2_background);
  color : var(--modal_h2_color);
  padding: 10px;
}
.modal_content h3:first-of-type{ 
  background : var(--modal_h3_background);
  color : var(--modal_h3_color);
  padding: 10px;
}
.modal_content h3{ 
  background : var(--modal_background);
  color: var(--modal_color);
  padding: 10px;
  top: calc(2em); 
  position: sticky; 
}
.modal_content h3:first-of-type:before{
  content:''
} 
.modal_content{ 
  display:none;
  max-height: 70%;
  background: var(--modal_background);
  color: var(--modal_color);
  border: var(--modal_border);
  padding-bottom:10px;
  
  transform: translate(-50%, -50%);
  background-color: white;
  position: absolute;
  width: 75%;
  max-width: 960px;
  left: 50%;
  top: 50%;
  overflow: auto;
}




.toggle_view.open_big_modal{
  margin-bottom: 15px;
}

.modal_big_wrapper {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba(3 , 3 , 3 ,0.7);
}

.modal_big_content > details > img {
  width: 50%;
  max-width: 350px;
  margin: auto;
}
.modal_big_content {
  overflow : auto;
  padding : 10px;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:auto;
  width: 85%;
  max-width: 1250px;
  height: 95%;
  background: var(--bg-color-3);
}

/*
MODAL STICKY TOP 
what we know..
- its an h3
- it under an h2
- h2 has a 10px padding. 20px top + bottom
- 1.25em
*/