/*
  __  __  ____  _____          _       _____ 
 |  \/  |/ __ \|  __ \   /\   | |     / ____|
 | \  / | |  | | |  | | /  \  | |    | (___  
 | |\/| | |  | | |  | |/ /\ \ | |     \___ \ 
 | |  | | |__| | |__| / ____ \| |____ ____) |
 |_|  |_|\____/|_____/_/    \_\______|_____/ 
*/ 

.modal_wrapper {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(3 , 3 , 3 ,0.6);
}
.modal_content {
  margin: auto;
  margin-top:15%;
  margin-bottom:15%;
  width: 90%;
  max-width: 700px;
  max-height: 68%;
  overflow:auto;
  border: var(--modal_border);
  background-color: var(--modal_background);
  color: var(--modal_color);
  padding-bottom:10px;
}

.modal_content{ display:none; }
.modal_content h2{ 
  background-color : var(--modal_h2_background);
  padding: 10px;
}
.modal_content h3:first-of-type{ 
  background-color : var(--modal_h3_background);
  padding: 10px;
}
.modal_content h3{ 
  background-color : var(--modal_background);
  padding: 10px;
}
.modal_content h3:first-of-type:before{
  content:''
} 
.modal_content p{
  text-indent: 2em;
  padding: 10px;
  width:90%;
  max-width: 600px;
  margin: auto;
  text-align: left;
}

.modal_big_wrapper {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(3 , 3 , 3 ,0.7);
}
.toggle_view.open_big_modal{
  margin-bottom: 15px;
}

.modal_big_content {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:auto;
  width: 85%;
  max-width: 1250px;
  height: 95%;
  background-color: var(--bg-color-3);
}

.modal_content h3{
  top: 35px; 
  position: sticky; 
}

.modal_big_content > details > img {
  width: 50%;
  max-width: 350px;
  margin: auto;
}
.modal_big_content {
  overflow : auto;
  padding : 10px;
}